*{
  box-sizing:border-box;
  margin:0px;
  padding:0px;
}
body{
  background-image: url('https://res.cloudinary.com/derrickstahlman/image/upload/v1653313800/egg_truck_kasrqe.png');

  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  z-index:0;
}

p{
  font-size:1.5em
}




.bar{
background-color: lightyellow;
position: sticky;
top:0px;
display: flex;
justify-content: center;
margin: 0;
z-index: 10; 
border: 2px solid black;
 
}

.nav{
    
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: lightyellow;
  list-style-type: none;
  font-size:2em;
  
}

a:link {
  color: #2e2e2e;
  background-color:lightyellow;
  text-decoration: none;
  
}

a:visited {
  color: purple ;
  background-color: lightyellow;
  text-decoration: none;
}

a:hover {
  color: #0000B8;
  background-color:#e3d320;
  text-decoration: none;
}

footer{
  background-color: lightyellow;
  border: 2px solid black;
  position: fixed;
  bottom: 0;
  left: 0;
  width:100%;
  min-height: 30px;
  
  display: flex;
  justify-content: space-evenly;
  }


.bigbox{
  margin: 4%;
  font-size:.5em;
  border: 2px solid black;
  text-align: center;
  background-color: lightyellow;

  
}

.h2 { 
  border: 4px dotted black;
  margin:3%;
  padding:3%;
  text-align: left;
  color:#514e40
}

.eggtruck{ 
  width:35%;
  font-size: 1.8em;
  text-align:center;
  display:inline-block;
  vertical-align:top;
   

  
  


  
}

.img1{
  width: 70%;
  display:inline-block;

  

}

.eggtruckmenu{ 
  width:30%;
  font-size:1.8em;
  text-align:center;
  vertical-align: top;
  float:right;
  
  
}

.bigger{
  font-size:2em;
  color: #514e40;
}

.menuitem{
  margin:3%;
 
  
}

hr{
  width: 80%;
  height:4px;
  margin: 48px auto;
  background: black;
  
  

}

